{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mb-2">
        <div class="col">
            <span class="h4 text-uppercase">Shopping Cart</span>
        </div>
    </div>
    {% if cart_items %}
        <!-- Shopping Cart Headings -->
        <div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
            <!-- Container -->
            <div class="fw-700 col">
                <!-- Heading Row -->
                <div class="row">
                    <!-- Image -->
                    <div class="col-md-1">
                        Image
                    </div>
                    <!-- Product -->
                    <div class="col-md-4">
                        <p>
                            Product
                        </p>
                    </div>
                    <!-- Quantity -->
                    <div class="text-center col-md-3">
                        <p>
                            Quantity
                        </p>
                    </div>
                    <!-- Price -->
                    <div class="text-center col-md-2">
                        <p>
                            Subtotal
                        </p>
                    </div>
                    <!-- Remove -->
                    <div class="text-center col-md-2">
                        <p>
                            Remove
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shopping Cart Items -->
        {% for item in cart_items %}
            <div class="row p-1 d-flex justify-content-center">
                <!-- Container -->
                <div class="border p-1 col-md-12 col-sm-8 bg-white">
                    <!-- Item Row -->
                    <div class="row d-flex align-items-center">
                        <!-- Image -->
                        {% if item.product.image %}
                            <div class="col-md-1">
                                <a href="{% url 'product_detail' item.product.id %}">
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                </a>
                            </div>
                        {% else %}
                            <div class="col-md-1">
                                <a>
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                </a>
                            </div>
                        {% endif %}
                        <!-- Product Name & Weight -->
                        <div class="col-md-4 fw-700">
                            <p>
                                {{ item.product.name }}
                                <br>
                                <small>
                                    £{{ item.product.price }} per {{ item.product.weight_in_grams }}g
                                </small>
                            </p>
                        </div>
                        <!-- Item Quantity -->
                        <div class="flex-column d-flex align-items-center justify-content-center col-md-3">
                            <form class="update-form item-qty-form-cart text-center" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <!-- Minus Button -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty qty-buttons" data-item_id="{{ item.item_.id }}"
                                            id="decrement-qty_{{ item.item_.id }}" aria-label="decrease {{item.item.name}} quantity by 1">
                                            <span class="icon">
                                                <i class="fa-solid fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- Quantity Input -->
                                    <input class="form-control qty_input edit-qty-input" type="number" name="quantity" value="{{ item.quantity }}"
                                        min="1" max="25" data-item_id="{{ item.item_.id }}" id="id_qty_{{ item.item_.id }}">
                                    <!-- Plus Button -->
                                    <div class="input-group-append">
                                        <button class="increment-qty qty-buttons" data-item_id="{{ item.item_.id }}"
                                            id="increment-qty_{{ item.item_.id }}" aria-label="increase {{item.item.name}} quantity by 1">
                                            <span class="icon">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- Update Button -->
                            <button class="blank-btn update-link text-decoration-none text-success" aria-label="update item quantity">Update</button>
                        </div>
                        <!-- Item Price -->
                        <div class="text-center col-md-2">
                            <!-- Uses the calc_subtotal function located in the cart_tools.py file -->
                            <p>
                                £{{ item.product.price | calc_subtotal:item.quantity }}
                            </p>
                        </div>
                        <!-- Remove Item -->
                        <div class="text-center col-md-2 mb-lg-0 mb-2">
                            <button class="blank-btn remove-item text-decoration-none text-red"
                                id="remove_{{ item.item_id }}" aria-label="remove item from cart">
                                <i class="fa-solid fa-trash-can fa-xl"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- Shopping Cart Total -->
        <div class="row p-1 mt-4 mb-4 text-center d-flex justify-content-md-end justify-content-sm-center">
            <!-- Container -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 border bg-white">
                {% if free_delivery_delta > 0 %}
                    <div class="row bg-charcoal">
                        <div class="col mt-2">
                            <p class="text-white">
                                Spend <strong>£{{ free_delivery_delta }}</strong> more for free delivery!
                            </p>
                        </div>
                    </div>
                {% endif %}
                <!-- Total Row -->
                <div class="row mt-2">
                    <!-- Item Total -->
                    <div class="col-6">
                        <p>
                            Cart Subtotal
                        </p>
                    </div>
                    <div class="col-6">
                        <p>
                            £{{ total|floatformat:2 }}
                        </p>
                    </div>
                </div>
                <!-- Delivery Total -->
                <div class="row">
                    <div class="col-6">
                        <p>
                            Delivery
                        </p>
                    </div>
                    <div class="col-6">
                        <p>
                            £{{ delivery|floatformat:2 }}
                        </p>
                    </div>
                </div>
                <!-- Order Total -->
                <div class="row">
                    <div class="col-6">
                        <p>
                            Grand Total
                        </p>
                    </div>
                    <div class="col-6">
                        <p>
                            £{{ grand_total|floatformat:2 }}
                        </p>
                    </div>
                </div>
                <!-- Action Buttons -->
                <div class="row mb-3">
                    <div class="col-12">
                        <a class="shopping-button blue-charcoal-btn text-decoration-none mt-1" href="{% url 'checkout' %}">
                            Checkout
                        </a>
                    </div>
                    <div class="col-12 mt-1">
                        <a class="shopping-button blue-charcoal-btn text-decoration-none mt-1" href="{% url 'products' %}">
                            Continue Shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <!-- Display if no Cart Items -->
        <div class="row text-center mb-4">
            <div class="col d-flex flex-column align-items-center">
                <span class="h5 mt-4 text-uppercase">Your cart is empty!</span>
                <a class="text-white text-decoration-none shopping-button blue-charcoal-btn" href="{% url 'products' %}">
                    Continue Shopping
                </a>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
        <script type="text/javascript">
            // Update Quantity
            // On the click event of the update link. 
            // Use the previous method to find the most recently seen update form in the DOM.
            // Store the form in a variable. And then call the forms submit method.
            $('.update-link').click(function(e) {
                var form = $(this).prev('.update-form');
                form.submit();
            });

            // Remove Item & Reload
            // On the click event of the remove-item button. 
            // Collects the actual csrf template variable and the item ID,
            // obtained by splitting the ID of the update link being clicked on.
            // Then creates the url needed to POST the required data to, which is stored in the data object.
            // Using the post method from jQuery. Sends the data to server and
            // once the response comes back, reloads the page to reflect the updated bag.
            $('.remove-item').click(function(e) {
                var csrfToken = "{{ csrf_token }}";
                var itemId = $(this).attr('id').split('remove_')[1];
                var url = `/cart/remove/${itemId}/`;
                var data = {'csrfmiddlewaretoken': csrfToken,};

                $.post(url, data)
                .done(function() {
                    location.reload();
                });
            });
        </script>
{% endblock %}