{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Delivery Information</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="text-center mb-4">
        <span class="h4 text-uppercase">Delivery Information</span>
    </div>
    <div class="container mb-4">
        <div class="row">
            <!-- Standard UK Delivery -->
            <section class="col-lg-6 border p-5">
                <p class="h5 fw-bold mt-3">
                    Standard UK Delivery
                </p>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 100px; background-color: #000080; height: 2px" />
                <p>
                    <strong>We deliver to ALL areas of the UK.</strong>
                </p>
                <p>
                    When calculating order weight / delivery charges, a weight of 100g is added to allow for the
                    packaging and adequate protection of the items.
                </p>
                <p>
                    We dispatch orders Monday-Friday (working days only). Your order should be delivered within 1-5
                    working days from the dispatch date.
                </p>
                <p>
                    All orders under 1kg are sent via Royal Mail Packet Post service, this is a non-trackable service
                    which takes between 2-4 days to arrive from date of despatch. Orders over 1kg are sent by Royal
                    Mail's Tracked service, this is a fully trackable service and you will receive information regarding
                    your delivery by text or email directly from Royal Mail.
                </p>
                <p class="fw-bold">
                    Orders over £50 will qualify for FREE DELIVERY on a standard service
                </p>
            </section>
            <!-- Isle of Man & Channel Islands -->
            <section class="col-lg-6 border p-5">
                <p class="h5 fw-bold mt-3">
                    Isle of Man & Channel Islands Delivery
                </p>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 100px; background-color: #000080; height: 2px" />
                <p>
                    When calculating order weight / delivery charges, a weight of 100g is added to allow for the
                    packaging and adequate protection of the items.
                </p>
                <p>
                    We dispatch orders Monday-Friday (working days only). Your order should be delivered within 4-10
                    working days from the dispatch date.
                </p>
                <p>
                    All orders under 1kg are sent via Royal Mail Packet Post service, this is a non-trackable service
                    which takes between 4-10 days to arrive from date of despatch. Orders over 1kg are sent by Royal
                    Mail's Tracked service, this is a fully trackable service and you will receive information regarding
                    your delivery by text or email directly from Royal Mail.
                </p>
                <p class="fw-bold">
                    Unfortunately due to Restrictions on Royal Mails Click & Drop service we are unable to ship to BFPO locations.
                </p>
            </section>
        </div>
        <div class="row">
            <!-- Weight to Cost Delivery Table -->
            <div class="col border mt-2 mb-2">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">WEIGHT (kg)</th>
                        <th scope="col">COST</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Up to 1kg</td>
                        <td>£2.49</td>
                      </tr>
                      <tr>
                        <td>Over 1kg</td>
                        <td>£3.49</td>
                      </tr>
                      <tr>
                        <td>Over £50</td>
                        <td>FREE!</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row">
            <!-- Next/Named Day Delivery -->
            <section class="col-lg-6 border p-5">
                <p class="h5 fw-bold">
                    Next/Named Working Day Delivery
                </p>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 100px; background-color: #000080; height: 2px" />
                <p class="fw-700">
                    We currently don't offer this service. Sorry for any inconvenience.
                </p>
            </section>
            <!-- Overseas Delivery -->
            <section class="col-lg-6 border p-5">
                <p class="h5 fw-bold">
                    Overseas Delivery Services
                </p>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 100px; background-color: #000080; height: 2px" />
                <p>
                    Please be aware that overseas orders are subject to extra delivery costs which are calculated
                    dependant upon location and order weight.
                </p>
                <p>
                    These extra costs will be calculated after initial order confirmation and an invoice will be sent to
                    the email address provided, no order will be shipped until this invoice is paid in full.
                </p>
                <p>
                    Refunds will be issued within 14 working days automatically, minus processing charges, if the
                    invoice is not paid. Please open an inquiry from within the <a href="{% url 'contact_us' %}" class="navy-underline" aria-label="navigate to our contact page">Contact Us</a>
                    section if you are unable to meet the extra delivery costs and would like to initiate a refund at an earlier date.
                </p>
                <p>
                    Sorry for any inconvenience.
                </p>
            </section>
        </div>
    </div>
{% endblock %}