{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="home">Home</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- banner text -->
<div class="container-fluid mb-3">
    <div class="row">
        <section class="col text-center">
            <p class="mb-2 h5 logo-font text-charcoal d-block d-md-none d-lg-none d-xl-none d-xxl-none">
                Specialists in British <strong>Confectionary for Millennials.</strong>
            </p>
            <p class="mb-2 h5 logo-font text-charcoal d-none d-md-block d-lg-block d-xl-block d-xxl-block">
                Classic Confectionary is a <strong>UK based</strong> online sweet retailer established in 2020.
                <br>
                Our aim is to stock a high quality range of <strong>assorted products</strong>, offering great value for money whilst
                specializing in <strong>sweets for millennials.</strong>
            </p>
            <p class="m-0 logo-font h5 text-charcoal text-uppercase">Royal Mail <strong>Tracked delivery</strong> on all orders over 1kg!
            </p>
            <p class="m-0 logo-font h5 text-charcoal text-uppercase"><strong>Free Delivery</strong> on all orders over £50!</p>
        </section>
    </div>
</div>

<!-- Product Carousels -->
<div class="container mb-5 bg-white">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <section class="p-lg-5 p-md-3 p-sm-0">
                <div id="products" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for product in products %}
                            {% if forloop.first %}
                                {% if product.image %}
                                    <div class="carousel-item active">
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="d-block w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        <div class="carousel-caption d-flex justify-content-end">
                                            <a href="{% url 'products' %}" type='button' class="text-decoration-none type-go-btn">Shop All Products</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="carousel-item active">
                                        <a>
                                            <img class="d-block w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                        <div class="carousel-caption d-flex justify-content-end">
                                            <a href="{% url 'products' %}" type='button' class="text-decoration-none type-go-btn">Shop All Products</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if product.image %}
                                    <div class="carousel-item">
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="d-block w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        <div class="carousel-caption d-flex justify-content-end">
                                            <a href="{% url 'products' %}" type='button' class="text-decoration-none type-go-btn">Shop All Products</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <a>
                                            <img class="d-block w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                        <div class="carousel-caption d-flex justify-content-end">
                                            <a href="{% url 'products' %}" type='button' class="text-decoration-none type-go-btn">Shop All Products</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#products"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#products"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section>
        </div>
        <div class="col-lg-4 col-md-12 d-flex flex-lg-column flex-md-row flex-column">
            <div class="col">
                {% include 'home/includes/sour.html' %}
            </div>
            <div class="col">
                {% include 'home/includes/sherbet.html' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            {% include 'home/includes/chewy.html' %}
        </div>
        <div class="col-lg-3 col-md-6">
            {% include 'home/includes/fizzy.html' %}
        </div>
        <div class="col-lg-3 col-md-6">
            {% include 'home/includes/chocolate.html' %}
        </div>
        <div class="col-lg-3 col-md-6">
            {% include 'home/includes/jellies_gums.html' %}
        </div>
    </div>
</div>

{% endblock %}