{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="home">Home</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container mb-4">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <section>
                <p>banner image</p>
            </section>
        </div>
        <div class="col-lg-4 col-md-12 d-flex flex-lg-column flex-md-row flex-column">
            <div class="col">
                {% include 'home/includes/sour.html' %}
            </div>
            <div class="col">
                {% include 'home/includes/sherbet.html' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            {% include 'home/includes/chewy.html' %}
        </div>
        <div class="col-lg-3 col-md-6">
            {% include 'home/includes/fizzy.html' %}
        </div>
        <div class="col-lg-3 col-md-6">
            {% include 'home/includes/chocolate.html' %}
        </div>
        <div class="col-lg-3 col-md-6">
            {% include 'home/includes/jellies_gums.html' %}
        </div>
    </div>
</div>

{% endblock %}