{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<header>
    <!-- start topbar -->
    <nav class="navbar navbar-expand bg-charcoal">
        <div class="container d-flex justify-content-end">
            <div class="me-5" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle white-yellow" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Hello {{ user.first_name }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'profile' %}">Account</a></li>
                                <li><hr style="width: 100%; background-color: #000080; height: 2px" class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'my_favorites' %}">Favorites</a></li>
                                <li><a class="dropdown-item" href="{% url 'my_reviews' %}">Reviews</a></li>
                                <li><hr style="width: 100%; background-color: #000080; height: 2px" class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'change_name' %}">Change Name</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_email' %}">Change Email</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a></li>
                                <li><hr style="width: 100%; background-color: #000080; height: 2px" class="dropdown-divider"></li>
                                {% if request.user.is_superuser %}
                                    <li><a class="dropdown-item" href="{% url 'add_product' %}">Manage Products</a></li>
                                    <li><hr style="width: 100%; background-color: #000080; height: 2px" class="dropdown-divider"></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active white-yellow" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active white-yellow" href="{% url 'account_login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- end topbar -->
    <!-- start main nav -->
    <section class="container-fluid bg-white mt-2 mb-3">
        <div class="row d-flex align-items-center">
            <div class="col d-flex justify-content-center">
                <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
                    <a href="{% url 'home' %}" class="text-decoration-none" aria-label="navigate to the homepage">
                        <h3 class="logo-font text-center text-charcoal">
                            Classic Confectionery
                        </h3>
                    </a>
                </div>
                <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
                </div>
            </div>
            <div class="col text-center">
                <!-- display the whole search form above md breakpoint -->
                <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-charcoal rounded-0" type="text" name="q"
                                placeholder="SEARCH OUR SWEETS">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0"
                                    type="submit" aria-label="preform search">
                                    <span class="icon charcoal-navy">
                                        <i class="fas fa-search fa-lg"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- display search form as a dropdown below md breakpoint -->
                <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
                    {% include 'includes/mobile_search_form.html' %}
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="{% url 'view_cart' %}" class="text-decoration-none" aria-label="navigate to the shopping cart">
                    <div class="icon charcoal-navy"><i class="fa-solid fa-cart-shopping fa-xl"></i></div>
                </a>
            </div>
        </div>
        <div class="row mt-3 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
            <div class="col d-flex justify-content-evenly flex-row">
                {% include 'includes/sweets_by_price.html' %}
                {% include 'includes/sweets_by_type.html' %}
                {% include 'includes/sweets_by_year.html' %}
            </div>
        </div>
    </section>
    <!-- end main nav -->
</header>

{% endblock %}