{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'profile' %}">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Reviews</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container mb-4">
        <div class="row mb-2">
            <div class="col">
                <span class="h4 text-uppercase">My Reviews</span>
            </div>
        </div>
    {% if reviews %}
            <!-- Users Reviews -->
            <section class="row d-flex justify-content-center">
                {% for review in reviews %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="h-100 light-border bg-white">
                            <!-- Review Date & Product Name -->
                            <div class="card-header bg-white border-0">
                                <div class="row">
                                    <div class="col">
                                        <p class="small mt-0 mb-0">
                                            {{ review.added_on }}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <h4 class="lead fw-900 mt-0 mb-0">
                                            {{ review.product.name }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Image -->
                            <div class="row">
                                <div class="col">
                                    {% if review.product.image %}
                                        <a href="{% url 'product_detail' review.product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ review.product.image.url }}" alt="{{ review.product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' review.product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ review.product.name }}">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Rating & Review -->
                            <div class="card-body">
                                <p class="mt-0 mb-2 text-center text-navy">
                                    {% if review.rating == 5 %}
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        {% elif review.rating == 4 %}
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-regular fa-xl fa-star"></i>
                                        {% elif review.rating == 3 %}
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-regular fa-xl fa-star"></i>
                                        <i class="fa-regular fa-xl fa-star"></i>
                                        {% elif review.rating == 2 %}
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-regular fa-xl fa-star"></i>
                                        <i class="fa-regular fa-xl fa-star"></i>
                                        <i class="fa-regular fa-xl fa-star"></i>
                                        {% elif review.rating == 1 %}
                                        <i class="fa-solid fa-xl fa-star"></i>
                                        <i class="fa-regular fa-xl fa-star"></i>
                                        <i class="fa-regular fa-xl fa-star"></i>
                                        <i class="fa-regular fa-xl fa-star"></i>
                                        <i class="fa-regular fa-xl fa-star"></i>
                                    {% endif %}
                                </p>
                                <p class="mb-0 text-break">
                                    {{ review.review }} 
                                </p>
                            </div>
                            <!-- Delete or Edit Review -->
                            <div class="card-footer bg-white border-0">
                                <div class="row">
                                    <div class="col mb-2 d-flex justify-content-evenly">
                                        <a class="text-decoration-none text-green" href="{% url 'edit_review' review.id %}" aria-label="edit review of {{ review.product.name }}"><i class="fa-solid fa-pencil fa-2xl"></i></a>
                                        <a class="text-red text-decoration-none" data-bs-toggle='modal' href="#delete{{ review.id }}" role="button" aria-label="delete review of {{ review.product.name }}"><i class="fa-solid fa-trash-can fa-2xl"></i></a>
                                        <!-- Delete Review Modal -->
                                        <div class="modal fade" id="delete{{ review.id }}" aria-hidden="true" aria-labelledby="deleteReviewModal" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <p class="modal-title text-uppercase" id="delete{{ review.id }}">Are you sure you want to delete this review?</p>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <p><strong>{{ review.product.name }}</strong></p>
                                                        <p> 
                                                            {% if review.rating == 5 %}
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                {% elif review.rating == 4 %}
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-regular fa-xl fa-star"></i>
                                                                {% elif review.rating == 3 %}
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-regular fa-xl fa-star"></i>
                                                                <i class="fa-regular fa-xl fa-star"></i>
                                                                {% elif review.rating == 2 %}
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-regular fa-xl fa-star"></i>
                                                                <i class="fa-regular fa-xl fa-star"></i>
                                                                <i class="fa-regular fa-xl fa-star"></i>
                                                                {% elif review.rating == 1 %}
                                                                <i class="fa-solid fa-xl fa-star"></i>
                                                                <i class="fa-regular fa-xl fa-star"></i>
                                                                <i class="fa-regular fa-xl fa-star"></i>
                                                                <i class="fa-regular fa-xl fa-star"></i>
                                                                <i class="fa-regular fa-xl fa-star"></i>
                                                            {% endif %}
                                                        </p>
                                                        <p>{{ review.review }}</p>
                                                    </div>
                                                    <div class="modal-footer d-flex justify-content-evenly">
                                                        <button type="button" class="cancel-btn text-center text-decoration-none" data-bs-target="#delete{{ review.id }}"
                                                            data-bs-toggle="modal" aria-label="Close">Close</button>
                                                        <a class="danger-btn text-center text-decoration-none"
                                                            href="{% url 'delete_review' review.product.id %}">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
    {% else %}
        <!-- Display if no Reviews -->
        <div class="row text-center mb-4">
            <div class="col d-flex flex-column align-items-center">
                <span class="h5 mt-4 text-uppercase">You haven't reviewed anything yet!</span>
                <button class="shopping-button blue-charcoal-btn">
                    <a class="text-white text-decoration-none" href="{% url 'products' %}">
                        See Our Products!
                    </a>
                </button>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}