{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Account</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-2">
            <div class="col">
                <span class="h4 text-uppercase">My Profile</span>
            </div>
        </div>
        <div class="row mt-2">
            <!-- renders the profile form -->
            <div class="col-12 col-lg-6">
                <p class="fw-700">Personal Information</p>
                <p class="small">Navigate here to <a href="{% url 'account_email' %}" class="fw-900 navy-underline">set
                        your primary email</a> or here to <a href="{% url 'account_change_password' %}"
                        class="fw-900 navy-underline">change your password</a>.</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-end">
                        <button class="mt-2 mb-2 blue-charcoal-btn">Update Information</button>
                    </div>
                </form>
            </div>
            <!-- renders the order history -->
            <div class="col-12 col-lg-6">
                <p class="fw-700">Order History</p>
                {{ orders }}
            </div>
        </div>
    </div>
{% endblock %}