{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="profile">Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="h4 text-uppercase">My Profile</span>
            </div>
        </div>
        <div class="row mt-2">
            <!-- renders the profile form -->
            <div class="col-12 col-lg-6">
                <p class="text-muted">Default Delivery Information</p>
            </div>
            <!-- renders the order history -->
            <div class="col-12 col-lg-6">
                <p class="text-muted">Order History</p>
            </div>
        </div>
    </div>
{% endblock %}