{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Favorites</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container mb-4">
        <div class="row mb-2">
            <div class="col">
                <span class="h4 text-uppercase">My Favorites</span>
            </div>
        </div>
        {% if favorites %}
            <!-- Users Favorites -->
            {% for item in favorites %}
                <div class="row p-1 d-flex justify-content-center">
                    <!-- Container -->
                    <div class="border p-1 col-md-12 col-sm-8 bg-white">
                        <!-- Item Row -->
                        <form method="POST" action="{% url 'add_to_cart' item.product.id %}">
                            {% csrf_token %}
                            <div class="row d-flex align-items-center">
                                <!-- Image -->
                                {% if item.product.image %}
                                    <div class="col-md-1">
                                        <a href="{% url 'product_detail' item.product.id %}">
                                            <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="col-md-1">
                                        <a>
                                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        </a>
                                    </div>
                                {% endif %}
                                <!-- Product Name, Weight & Price -->
                                <div class="col-md-4 fw-700">
                                    <p class="fw-900 text-md-start text-center">
                                        {{ item.product.name }}
                                        <br>
                                        <small>
                                            £{{ item.product.price }} per {{ item.product.weight_in_grams }}g
                                        </small>
                                    </p>
                                </div>
                                <!-- Remove Item from Favorites -->
                                <div class="col-md-2 mb-2 mb-md-2 d-flex justify-content-center align-items-center">
                                    <a class="blank-btn text-center text-decoration-none text-red"
                                        href="{% url 'remove_favorite' item.product.id %}"
                                        aria-label="remove {{ item.product.name }} from favorites">
                                        <span class="text-uppercase flex-column">
                                            <i class="fa-solid fa-trash-can fa-2xl"></i>
                                        </span>
                                    </a>
                                </div>
                                <!-- Item Quantity -->
                                <div class="col-md-3 d-flex justify-content-center align-items-center">
                                    <div class="input-group item-qty-form-cart">
                                        <!-- Minus Button -->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty qty-buttons" data-item_id="{{ item.item_.id }}"
                                                aria-label=" decrease {{ item.product.name }} quantity by 1"
                                                id="decrement-qty_{{ item.item_.id }}">
                                                <span class="icon">
                                                    <i class="fa-solid fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <!-- Quantity Input -->
                                        <input class="form-control qty_input edit-qty-input" type="number" name="quantity"
                                            value="1" min="1" max="25" data-item_id="{{ item.item_.id }}"
                                            id="id_qty_{{ item.item_.id }}">
                                        <!-- Plus Button -->
                                        <div class="input-group-append">
                                            <button class="increment-qty qty-buttons" data-item_id="{{ item.item_.id }}"
                                                aria-label="increase {{ item.product.name }} quantity by 1"
                                                id="increment-qty_{{ item.item_.id }}">
                                                <span class="icon">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Item to Cart -->
                                <div class="col-md-2 mt-md-0 mt-2 d-flex justify-content-center align-items-center">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <input class="blue-charcoal-btn mt-1 add-btn mb-2" type="submit" value="Add to Cart">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <!-- Display if no favorites -->
        <div class="row text-center mb-4">
            <div class="col d-flex flex-column align-items-center">
                <span class="h5 mt-4 text-uppercase">You have no favorites yet!</span>
                <button class="shopping-button blue-charcoal-btn">
                    <a class="text-white text-decoration-none" href="{% url 'products' %}">
                        See Our Products!
                    </a>
                </button>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}