<div class="navbar-collapse collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Products -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link charcoal-navy mr-5" href="#"
                id="all-products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="#" class="dropdown-item">By Price</a>
            </div>
        </li>
        <!-- By Type -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link charcoal-navy mr-5" href="#"
                id="sweet-type-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sweets By Type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sweet-type-link">
                <a href="{% url 'products' %}?type_query=chewy" class="dropdown-item">Chewy</a>
                <a href="{% url 'products' %}?type_query=chocolate" class="dropdown-item">Chocolate</a>
                <a href="{% url 'products' %}?type_query=fizzy" class="dropdown-item">Fizzy</a>
                <a href="{% url 'products' %}?type_query=jellies_gums" class="dropdown-item">Jellies & Gums</a>
                <a href="{% url 'products' %}?type_query=sherbet" class="dropdown-item">Sherbet</a>
                <a href="{% url 'products' %}?type_query=sour" class="dropdown-item">Sour</a>
            </div>
        </li>
        <!-- By Year -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link charcoal-navy mr-5" href="#"
                id="sweet-year-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sweets By Year
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sweet-year-link">
                <a href="#" class="dropdown-item">80's</a>
                <a href="#" class="dropdown-item">90's</a>
                <a href="#" class="dropdown-item">'00s</a>
            </div>
        </li>
    </ul>
</div>