<!-- Search Dropdown Toggle -->
<div class="list-inline-item">
    <a class="charcoal-navy" href="#" id="mobile-search" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="toggle the search input dropdown">
        <div class="text-center icon"><i class="fas fa-search fa-xl"></i></div>
    </a>
    <!-- Search Form -->
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-charcoal rounded-0" type="text" name="q"
                    placeholder="SEARCH OUR SWEETS">
                <div class="input-group-append">
                    <button class="form-control form-control btn btn-black border border-charcoal rounded-0" type="submit">
                        <span class="icon charcoal-navy">
                            <i class="fas fa-search fa-lg"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
