{% extends "account/base.html" %}

{% load i18n %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Register</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

  <div class="text-center">
    <span class="h4 text-uppercase">{% trans "Sign Up" %}</span>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="navy-underline fw-900">sign in</a>.{% endblocktrans %}</p>
  </div>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="container-fluid d-flex justify-content-center">
      <button type="submit" class="mt-1 blue-charcoal-btn">{% trans "Sign Up" %}</button>
    </div>
  </form>

{% endblock %}
