{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container mb-4">
        <div class="mb-2">
            <span class="h4 text-uppercase">Contact Us</span>
        </div>
        <!-- Contact Us form -->
        <div class="row">
            <div class="col">
            </div>
        </div>
    </section>
{% endblock %}