<section>
    <div id="sherbet" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            {% for product in sherbet %}
                {% if forloop.first %}
                    {% if product.image %}
                        <div class="carousel-item active">
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="d-block w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            <div class="carousel-caption d-flex justify-content-end">
                                <a href="{% url 'products' %}?type_query=sherbet" type='button' class="text-decoration-none type-go-btn">Sherbet Sweets</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item active">
                            <a>
                                <img class="d-block w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            <div class="carousel-caption d-flex justify-content-end">
                                <a href="{% url 'products' %}?type_query=sherbet" type='button' class="text-decoration-none type-go-btn">Sherbet Sweets</a>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    {% if product.image %}
                        <div class="carousel-item">
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="d-block w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            <div class="carousel-caption d-flex justify-content-end">
                                <a href="{% url 'products' %}?type_query=sherbet" type='button' class="text-decoration-none type-go-btn">Sherbet Sweets</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <a>
                                <img class="d-block w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            <div class="carousel-caption d-flex justify-content-end">
                                <a href="{% url 'products' %}?type_query=sherbet" type='button' class="text-decoration-none type-go-btn">Sherbet Sweets</a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#sherbet"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#sherbet"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>