{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Product Management</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="text-center mb-4">
        <span class="h4 text-uppercase">Add a Product</span>
    </div>
    <div class="container mb-4">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 col-md-12">
                <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-end">
                            <a class="me-1 blue-charcoal-btn text-decoration-none text-white text-center" href="{% url 'products' %}">Cancel</a>
                            <button class="blue-charcoal-btn ">
                                <a class="text-decoration-none text-white" type="submit">Add Product</a>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}