{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Products</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <!-- Product Category List -->
            <section class="container-fluid bg-white col-lg-3 col-md-4 col-sm-12">
                <div>
                    <p class="h5 fw-700 mt-2">
                        All Categories
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 100px; background-color: #000080; height: 2px" />
                    </p>
                    <p class="mt-neg-10">
                        <a href="{% url 'products' %}?type_query=chewy" class="charcoal-navy">
                            <h6 class="fw-700">Chewy</h6>
                        </a>
                    </p>
                    <p class="mt-neg-10">
                        <a href="{% url 'products' %}?type_query=chocolate" class="charcoal-navy">
                            <h6 class="fw-700">Chocolate</h6>
                        </a>
                    </p>
                    <p class="mt-neg-10">
                        <a href="{% url 'products' %}?type_query=fizzy" class="charcoal-navy">
                            <h6 class="fw-700">Fizzy</h6>
                        </a>
                    </p>
                    <p class="mt-neg-10">
                        <a href="{% url 'products' %}?type_query=jellies_gums" class="charcoal-navy">
                            <h6 class="fw-700">Jellies & Gums</h6>
                        </a>
                    </p>
                    <p class="mt-neg-10">
                        <a href="{% url 'products' %}?type_query=sherbet" class="charcoal-navy">
                            <h6 class="fw-700">Sherbet</h6>
                        </a>
                    </p>
                    <p class="mt-neg-10">
                        <a href="{% url 'products' %}?type_query=sour" class="charcoal-navy">
                            <h6 class="fw-700">Sour</h6>
                        </a>
                    </p>
                    <p class="mt-neg-10">
                        <a href="#" class="charcoal-navy">
                            <h6 class="fw-700">80s Sweets</h6>
                        </a>
                    </p>
                    <p class="mt-neg-10">
                        <a href="#" class="charcoal-navy">
                            <h6 class="fw-700">90s Sweets</h6>
                        </a>
                    </p>
                    <p class="mt-neg-10">
                        <a href="#" class="charcoal-navy">
                            <h6 class="fw-700">00s Sweets</h6>
                        </a>
                    </p>
                </div>
            </section>
            <!-- Product Sort Options -->
            <div class="container-fluid col-lg-9 col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-12">
                        <h1>sort filter</h1>
                    </div>
                </div>
                <!-- Product Cards - 3x1 on Large, 2x1 on Medium, 1x1 on Small -->
                <section class="row">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="h-100 border-0">
                            <!-- Card Top - Product Image -->
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                            <!-- Card Body - Product Type & Name -->
                            {% if product.type %}
                            <p class="small">
                                <a class="text-muted" href="#">
                                    <i class="fa-solid fa-candy-cane"></i> {{ product.type.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                            <div class="card-body">
                                <p class="lead">{{ product.name }}</p>
                            </div>
                            <!-- Card Footer - Product Weight & Price, Plus Management Buttons -->
                            <div class="card-footer bg-white border-0">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead">{{ product.weight_in_grams }}g</p>
                                        <p class="lead font-weight-bold">£{{ product.price }}</p>
                                        {% if request.user.is_superuser %}
                                        <small>
                                            <a href="#">Edit</a> | 
                                            <a class="text-danger" href="#">Delete</a>
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}