{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Product Details -->
    <section class="container">
        <div class="row bg-white">
            <!-- Product Image -->
            <div class="col-lg-6 col-md-12">
                <div>
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a>
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Product Info -->
            <div class="col-lg-6 col-md-12">
                <div class="container mb-4">
                    <!-- Product Name & Favorites Button -->
                    <div class="row mt-2">
                        <div class="col ">
                            <form method='GET' action="{% url 'favorite' product.id %}" class="d-flex flex-row align-items-center">
                                {% csrf_token %}
                                <h3 class="fw-700">{{ product.name }}</h3>
                                <!-- favorite button -->
                                {% if favorite %}
                                    <button class="fav-btn blank-btn ms-2" aria-label="remove product from favorites">
                                        <i class="fa-solid fa-xl fa-heart"></i>
                                    </button>
                                {% else %}
                                    <button class="fav-btn blank-btn ms-2" aria-label="add product from favorites">
                                        <i class="fa-regular fa-xl fa-heart"></i>
                                    </button>
                                {% endif %}
                            </form>
                            <hr class="mt-0 d-inline-block mx-auto"
                            style="width: 100px; background-color: #000080; height: 2px" />
                        </div>
                    </div>
                    <!-- Product Type & Years Popular Tags -->
                    <div class="row mt-neg-5">
                        <div class="col">
                            <h6>
                                {% if product.type %}
                                    <a href="{% url 'products' %}?type_query={{ product.type.name }}" class="badge bg-charcoal white-yellow mt-1">
                                        {{ product.type.friendly_name }}
                                    </a>
                                {% endif %}
                                {% if product.popular_in_80s %}
                                    <a href="{% url 'products' %}?year=80" class="badge bg-charcoal white-yellow mt-1">
                                        80's Sweets
                                    </a>
                                {% endif %}
                                {% if product.popular_in_90s %}
                                    <a href="{% url 'products' %}?year=90" class="badge bg-charcoal white-yellow mt-1">
                                        90's Sweets
                                    </a>
                                {% endif %}
                                {% if product.popular_in_00s %}
                                    <a href="{% url 'products' %}?year=00" class="badge bg-charcoal white-yellow mt-1">
                                        00's Sweets
                                    </a>
                                {% endif %}
                            </h6>   
                        </div>
                    </div>
                    <!-- Product Price -->
                    <div class="row">
                        <div class="col">
                            <p class="h2 fw-900 text-navy">£{{ product.price }}</p>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="row">
                        <div class="col">
                            <p class="mt-3">{{ product.description }}</p>
                        </div>
                    </div>
                    <!-- Review Product -->
                    {% if request.user.is_authenticated %}
                        <!-- Review -->
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <!-- Review Button -->
                                <a class="text-green btt-link ms-1" data-bs-toggle='modal' href="#review" role="button">Write a Review</a>
                                <div class="modal fade" id="review" aria-hidden="true" aria-labelledby="reviewProductModal" tabindex="-1">
                                    <form method="POST" action="{% url 'post_review' product.id %}">
                                        {% csrf_token %}
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <p class="modal-title text-uppercase" id="review">Leave a Review</p>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col text-center">
                                                            <p>You are reviewing <strong>{{ product.name }}</strong></p> 
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <div class="col">
                                                                    {{ review_form.rating | as_crispy_field }}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    {{ review_form.review | as_crispy_field }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-evenly">
                                                    <button type="button" class="cancel-btn text-center text-decoration-none" data-bs-target="#review"
                                                        data-bs-toggle="modal" aria-label="Close">Close</button>
                                                    <button type="submit" class="review-btn text-center text-decoration-none">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Review Modal -->
                        <div class="modal fade" id="review" aria-hidden="true" aria-labelledby="reviewProductModal" tabindex="-1">
                                <form method="POST" action="{% url 'post_review' product.id %}">
                                    {% csrf_token %}
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <p class="modal-title text-uppercase" id="review">Leave a Review</p>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col text-center">
                                                        <p>You are reviewing <strong>{{ product.name }}</strong></p> 
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                {{ review_form.rating | as_crispy_field }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                {{ review_form.review | as_crispy_field }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer d-flex justify-content-evenly">
                                                <button type="button" class="cancel-btn text-center text-decoration-none" data-bs-target="#review"
                                                    data-bs-toggle="modal" aria-label="Close">Close</button>
                                                <button type="submit" class="review-btn text-center text-decoration-none">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    {% endif %}
                </div>
                <!-- Delete & Edit Buttons Plus Add to Cart Functionality -->
                <div class="container mb-5 text-center">
                    <div class="row mb-5 d-flex justify-content-center">
                        {% if request.user.is_superuser %}
                            <!-- Delete or Edit Product Buttons -->
                            <div class="col d-flex justify-content-center">
                                <a class="text-green me-1" href="{% url 'edit_product' product.id %}">Edit</a>
                                <span> | </span>
                                <a class="text-red btt-link ms-1" data-bs-toggle='modal' href="#delete" role="button">Delete</a>
                            </div>
                            <!-- Delete Product Modal -->
                            <div class="modal fade" id="delete" aria-hidden="true" aria-labelledby="deleteProductModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title text-uppercase" id="delete">Are you sure you want to delete this product?</p>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <p><strong>{{ product.name }}</strong></p>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-evenly">
                                            <button type="button" class="cancel-btn text-center text-decoration-none" data-bs-target="#delete"
                                                data-bs-toggle="modal" aria-label="Close">Close</button>
                                            <a class="danger-btn text-center text-decoration-none"
                                                href="{% url 'delete_product' product.id %}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- Add to Cart Form -->
                    <form class="p-2" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <!-- Weight & Quantity -->
                        <div class="row fw-bold d-flex align-items-center">
                            <!-- Weight Section -->
                            <div class="col-lg-6 col-md-12 d-flex justify-content-evenly align-items-center flex-xl-row flex-lg-column flex-md-row">
                                <p>
                                    Weight:
                                </p>
                                <p class="add-weight-group">
                                    {{ product.weight_in_grams }}g
                                </p>
                            </div>
                            <!-- Quantity Section -->
                            <div class="col-lg-6 col-md-12 d-flex justify-content-evenly align-items-center flex-xl-row flex-lg-column flex-md-row">
                                <label for="id_qty_{{ product.id }}" class="d-flex align-self-center">
                                    Quantity:
                                </label>
                                <div class="input-group add-qty-group">
                                    <!-- Minus Button -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty qty-buttons" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}" aria-label="decrease quantity by 1">
                                            <span class="icon">
                                                <i class="fa-solid fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- Quantity Input -->
                                    <input class="form-control qty_input add-qty-input" type="number" name="quantity" value="1"
                                        min="1" max="25" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <!-- Plus Button -->
                                    <div class="input-group-append">
                                        <button class="increment-qty qty-buttons" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}" aria-label="increase quantity by 1">
                                            <span class="icon">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Keep Shopping & Add to Bag -->
                        <div class="row d-flex flex-lg-row flex-column-reverse">
                            <div class="col-lg-6 col-md-12">
                                <a class="blue-charcoal-btn text-decoration-none mt-2 shopping-button" href="{% url 'products' %}">
                                    Keep Shopping
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <input class="blue-charcoal-btn mt-2 shopping-button" type="submit" value="Add to Cart">
                            </div>
                        </div>
                        <!-- User Redirect upon Item Added -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Reviews Section -->
    <section class="container mb-4">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 col-md-12">
                <!-- Heading -->
                <div class="row mt-4 mb-4">
                    <span class="h4 text-uppercase">Latest Reviews</span>
                </div>
                <!-- Reviews -->
                <div class="row">
                    <div class="col">
                        {% if reviews %}
                            {% for review in reviews %}
                                <div class="row bg-white light-border p-1 mb-3">
                                    <div class="col-lg-5 col-md-12">
                                        <p class="small mb-0">
                                            {{ review.added_on }}
                                        </p>
                                        <p class="mt-0 mb-0 fw-700">
                                            {{ review.user.first_name }} {{ review.user.last_name }}
                                        </p>
                                        <p class="mt-0 mb-2 text-center text-navy">
                                            {% if review.rating == 5 %}
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                {% elif review.rating == 4 %}
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-regular fa-xl fa-star"></i>
                                                {% elif review.rating == 3 %}
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-regular fa-xl fa-star"></i>
                                                <i class="fa-regular fa-xl fa-star"></i>
                                                {% elif review.rating == 2 %}
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-regular fa-xl fa-star"></i>
                                                <i class="fa-regular fa-xl fa-star"></i>
                                                <i class="fa-regular fa-xl fa-star"></i>
                                                {% elif review.rating == 1 %}
                                                <i class="fa-solid fa-xl fa-star"></i>
                                                <i class="fa-regular fa-xl fa-star"></i>
                                                <i class="fa-regular fa-xl fa-star"></i>
                                                <i class="fa-regular fa-xl fa-star"></i>
                                                <i class="fa-regular fa-xl fa-star"></i>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-lg-7 col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <p class="mt-0 mb-0 text-break">
                                                    {{ review.review }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col">
                                    <a class="text-green btt-link ms-1" data-bs-toggle='modal' href="#review" role="button">Be the first to review!</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
