{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container mb-4">
        <div class="row bg-white">
            <!-- Product Image -->
            <div class="col-lg-6 col-md-12">
                <div class="image-container border-blur">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Product Info -->
            <div class="col-lg-6 col-md-12">
                <div class="container mb-4">
                    <!-- Product Name -->
                    <div class="row">
                        <div class="col">
                            <p class="h3 fw-700">{{ product.name }}</p>
                            <hr class="mt-0 d-inline-block mx-auto"
                            style="width: 100px; background-color: #000080; height: 2px" />
                        </div>
                    </div>
                    <!-- Product Type & Years Popular Tags -->
                    <div class="row mt-neg-5">
                        <div class="col">
                            <h6>
                                {% if product.type %}
                                    <a href="{% url 'products' %}?type_query={{ product.type.name }}" class="badge bg-charcoal white-yellow mt-1">
                                        {{ product.type.friendly_name }}
                                    </a>
                                {% endif %}
                                {% if product.popular_in_80s %}
                                    <a href="{% url 'products' %}?year=80" class="badge bg-charcoal white-yellow mt-1">
                                        80's Sweets
                                    </a>
                                {% endif %}
                                {% if product.popular_in_90s %}
                                    <a href="{% url 'products' %}?year=90" class="badge bg-charcoal white-yellow mt-1">
                                        90's Sweets
                                    </a>
                                {% endif %}
                                {% if product.popular_in_00s %}
                                    <a href="{% url 'products' %}?year=00" class="badge bg-charcoal white-yellow mt-1">
                                        00's Sweets
                                    </a>
                                {% endif %}
                            </h6>   
                        </div>
                    </div>
                    <!-- Product Price -->
                    <div class="row">
                        <div class="col">
                            <p class="h2 fw-900 text-navy">£{{ product.price }}</p>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="row">
                        <div class="col">
                            <p class="mt-3">{{ product.description }}</p>
                        </div>
                    </div>
                    <!-- Edit & Delete -->
                    {% if request.user.is_superuser %}
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <a class="text-success me-1" href="#">Edit</a>
                                <span> | </span>
                                <a class="text-danger ms-1" href="#">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- Action Buttons & Add to Cart Functionality -->
                <div class="container mb-4 text-center">
                    <div class="row mb-4">
                        <!-- Review Button -->
                        <div class="col-md-6 col-sm-12">
                            <button class="mt-1">Review</button>
                        </div>
                        <!-- Favorite Button -->
                        <div class="col-md-6 col-sm-12">
                            <button class="mt-1">Favorites</button>
                        </div>
                    </div>
                    <!-- Add to Cart Form -->
                    <form class="border-blur p-2" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <!-- Weight & Quantity -->
                        <div class="row fw-bold">
                            <div class="col-lg-6 col-md-12 d-flex justify-content-evenly align-items-center">
                                <p>
                                    Weight:
                                </p>
                                <p>
                                    200g
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-12 d-flex justify-content-evenly align-items-center">
                                <p>
                                    Quantity:
                                </p>
                                <p>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                </p>
                            </div>
                        </div>
                        <!-- Keep Shopping & Add to Bag -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <a class="blue-charcoal-btn text-decoration-none mt-1" href="{% url 'products' %}">
                                    Keep Shopping
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <input class="blue-charcoal-btn mt-1" type="submit" value="Add to Bag">
                            </div>
                        </div>
                        <!-- User Redirect upon Item Added -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}