{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% if current_type %}
                            {% for type in current_type %}
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ type.friendly_name }}</li>
                            {% endfor %}
                        {% elif search_term %}
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ search_term }}</li>
                        {% elif year %}
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ year }}'s Sweets</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Products</li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <!-- Product Category List -->
            <section class="category-container container col-lg-3 col-md-4 col-sm-12 mb-md-20">
                <div class="bg-white border-blur ps-3 pt-1">
                    <p class="h5 fw-700 mt-2">All Categories</p>
                    <div>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 100px; background-color: #000080; height: 2px"/>
                    </div>
                    <!-- All Products -->
                    <h6 class="fw-700 m-0">
                        <a href="{% url 'products' %}" class="charcoal-navy" aria-label="view all products">
                            All Products
                        </a>
                    </h6>
                    <!-- Products by Type -->
                    <h6 class="fw-700 m-0 mt-3">
                        <a href="{% url 'products' %}?type_query=chewy" class="charcoal-navy" aria-label="view our chewy sweets">
                            Chewy
                        </a>
                    </h6>
                    <h6 class="fw-700 m-0 mt-1">
                        <a href="{% url 'products' %}?type_query=chocolate" class="charcoal-navy" aria-label="view our selection of chocolates">
                            Chocolate
                        </a>
                    </h6>
                    <h6 class="fw-700 m-0 mt-1">
                        <a href="{% url 'products' %}?type_query=fizzy" class="charcoal-navy" aria-label="view our fizzy sweets">
                            Fizzy
                        </a>
                    </h6>
                    <h6 class="fw-700 m-0 mt-1">
                        <a href="{% url 'products' %}?type_query=jellies_gums" class="charcoal-navy" aria-label="view our jellies and gums">
                            Jellies & Gums
                        </a>
                    </h6>
                    <h6 class="fw-700 m-0 mt-1">
                        <a href="{% url 'products' %}?type_query=sherbet" class="charcoal-navy" aria-label="view our sherbet sweets">
                            Sherbet
                        </a>
                    </h6>
                    <h6 class="fw-700 m-0 mt-1">
                        <a href="{% url 'products' %}?type_query=sour" class="charcoal-navy" aria-label="view our sour sweets">
                            Sour
                        </a>
                    </h6>
                    <!-- Products by Year -->
                    <h6 class="fw-700 m-0 mt-3">
                        <a href="{% url 'products' %}?year=80" class="charcoal-navy" aria-label="view our selection of 80's sweets">
                            80's Sweets
                        </a>
                    </h6>
                    <h6 class="fw-700 m-0 mt-1">
                        <a href="{% url 'products' %}?year=90" class="charcoal-navy" aria-label="view our selection of 90's sweets">
                            90's Sweets
                        </a>
                    </h6>
                    <h6 class="fw-700 m-0 mt-1 mb-3">
                        <a href="{% url 'products' %}?year=00" class="charcoal-navy" aria-label="view our selection of 00's sweets">
                            00's Sweets
                        </a>
                    </h6>
                </div>
            </section>
            <!-- Container for product sort options and product cards -->
            <div class="container-fluid col-lg-9 col-md-8 col-sm-12">
                <!-- Product Sort Options -->
                <div class="container bg-white border-blur mb-3">
                    <!-- Container for sort content padding -->
                    <div class="container p-2">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <div class="me-2">
                                    Sort By:
                                </div>
                                <div class="sort-select-wrapper">
                                    <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                        <!-- Compares the value of the current sorting view variable to what it would be under certain conditions -->
                                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                        <option value="type_asc" {% if current_sorting == 'type_asc' %}selected{% endif %}>Type (A-Z)</option>
                                        <option value="type_desc" {% if current_sorting == 'type_desc' %}selected{% endif %}>Type (Z-A)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Product Count Returned -->
                        <div class="row mt-2">
                            <div class="col">
                                <!-- Uses the length built-in template filter to count the number of products.
                                    If there's a search term returned in the context from the all_products view.
                                    append to let the user know what they've searched for -->
                                {{ products|length }} Products{% if search_term %} found for
                                <strong>"{{ search_term }}"</strong>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Cards - 3x1 on Large, 2x1 on Medium, 1x1 on Small -->
                <section class="row">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="h-100 light-border bg-white">
                                <!-- Card Top - Product Image -->
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <!-- Card Body - Product Type & Name -->
                                {% if product.type %}
                                    <h6 class="small">
                                        <a class="text-muted type-link" href="{% url 'products' %}?type_query={{ product.type.name }}">
                                            {{ product.type.friendly_name }}
                                        </a>
                                    </h6>
                                {% endif %}
                                <div class="card-body mt-neg-10">
                                    <h4 class="lead fw-900">{{ product.name }}</h4>
                                </div>
                                <!-- Card Footer - Product Weight & Price, Plus Management Buttons -->
                                <div class="card-footer bg-white border-0">
                                    <div class="row">
                                        <div class="col">
                                            <p>Price Per {{ product.weight_in_grams }}g</p>
                                            <p class="lead mt-neg-20 fw-700 text-navy">£{{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
        <!-- A button to return to the top of the search window -->
        <div class="btt-button bg-navy d-flex justify-content-center">
            <button class="btt-link blank-btn d-flex h-100" aria-label="navigate to top of page">
                <i class="fa-solid fa-angles-up fa-lg mx-auto my-auto text-white"></i>
            </button>	
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Sends the user back to the top of the page -->

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0);
		});
	</script>

    <!-- Capture the change event from the sort selector.
    Set a variable for the selector equal to this event,
    plus one for the current url which is equal to a new url object.

    Gets the selected value from the selector box.
    determine if the selected value is reset. 
    Indicating that we want to reset the sorting to the default.

    If it's not get the sort and direction by splitting the selected value.
    The first item will be the item to sort on. The second is the direction.

    Replace those get parameters in the URL.
    Using the search params dot set method from the URL object.
    with the new URL constructed replace the current location with the updated URL 

    If the user has selected the reset option.
    delete the sort and direction get parameters and then replace the location. -->

    <script type="text/javascript">
        $('#sort-selector').change(function () {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}